body {
    font-family: Verdana;
    padding: 20px;
    background-color: #F0EFEB;
    padding-bottom: 100px;
}

/* #barbie will use this formatting for anything
that has id="barbie" in its tag*/

#start {
    display: block;
    margin-bottom: 60px;
}


#red {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:rgb(255, 57, 143); 
}

#red_button {
    border-width: 6px;
    color: white;
    padding: 40px 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(255, 57, 143);
    border-color: rgb(255, 0, 111);
}

#blue {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:rgb(129, 88, 253);
}

#blue_button {
    border-width: 6px;
    color: white;
    padding: 40px 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(129, 88, 253);
    border-color: rgb(99, 47, 255);
}

#green {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:rgb(77, 255, 148); 
}

#green_button {
    border-width: 6px;
    color: white;
    padding: 40px 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(77, 255, 148);
    border-color: rgb(51, 196, 109);
}


#yellow {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    font-size: 35px;    
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:rgb(255, 235, 57) 
}

#yellow_button {
    border-width: 6px;
    color: white;
    padding: 40px 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    border-color: rgb(231, 211, 25);
    background-color: rgb(255, 235, 57);
}

#wild {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    font-size: 35px;    
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:rgb(71, 84, 82) 
}

#wild_button {
    border-width: 6px;
    color: white;
    padding: 40px 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(71, 84, 82);
}