body {
    font-family: Verdana;
    padding: 20px;
    background-color: #F0EFEB;
    padding-bottom: 100px;
}

/* #barbie will use this formatting for anything
that has id="barbie" in its tag*/

#barbie {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 2px #250202;
    color:hotpink 
}
